<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031803797548-urspbe37i1l1s0ncetu6cbdg1jdvi91u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031803797548-urspbe37i1l1s0ncetu6cbdg1jdvi91u</string>
	<key>API_KEY</key>
	<string>AIzaSyDgCsO3I-slldV0b8GTE2Nvd8HJsdm4T3s</string>
	<key>GCM_SENDER_ID</key>
	<string>1031803797548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evotingUi</string>
	<key>PROJECT_ID</key>
	<string>e-voting-b9c2a</string>
	<key>STORAGE_BUCKET</key>
	<string>e-voting-b9c2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031803797548:ios:b27db6da692cdb5d219189</string>
</dict>
</plist>