

<meta charset="utf-8" />
<title></title>
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/bootstrap-min.css" rel="stylesheet" />
<link href="~/css/app.css" rel="stylesheet" />
<div id="Scores">
    <h5>Scan Quality : <input type="text" id="qualityInputBox" size="20" style="background-color:#DCDCDC;text-align:center;"></h5>

</div>
<div id="content-capture" style="display : block;">
    <div id="status"></div>
    <div id="imagediv"></div>
    <div id="contentButtons">
        <table width=70% align="center">
            <tr>
                <td>
                    <input type="button" class="btn btn-primary" id="clearButton" value="Clear" onclick="Javascript:onClear()">
                </td>
                <td data-toggle="tooltip" title="Will work with the .png format.">
                    <input type="button" class="btn btn-primary" id="save" value="Save">
                </td>
                <td>
                    <input type="button" class="btn btn-primary" id="start" value="Start" onclick="Javascript:onStart()">
                </td>
                <td>
                    <input type="button" class="btn btn-primary" id="stop" value="Stop" onclick="Javascript:onStop()">
                </td>
                <td>
                    <input type="button" class="btn btn-primary" id="info" value="Info" onclick="Javascript:onGetInfo()">
                </td>
        </table>
    </div>

    <div id="imageGallery">
    </div>
    <div id="deviceInfo">
    </div>

    <div id="saveAndFormats">

        <br>
        <!--<input type="button" class="btn btn-primary" id="saveImagePng" value="Export" onclick="Javascript:onImageDownload()">-->
    </div>

</div>


<script src="~/js/websdk.client.bundle.min.js"></script>
<script src="~/js/bioapp.js"></script>
<script src="~/js/es6-shim.js"></script>
<script src="~/js/fingerprint.sdk.min.js"></script>
<script src="~/js/getfingerprint.js"></script>
<script src="~/js/pako.js"></script>
<script src="~/js/site - copy.js"></script>
<script src="~/js/site.js"></script>